<a href="https://colab.research.google.com/github/plkimtuyen05-boop/st13.github.io/blob/main/19/8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

"

In [2]:
a=27
b=6
c=a%b;
print(a,b,c)

27 6 3

In [4]:
print("Hello World")
display ("Hello, world")

Hello World

'Hello, world'

In [14]:
score=80
if score >=60:
print("pass")
pass # dummy

IndentationError: expected an indented block after 'if' statement on line 2 (ipython-input-2612365787.py, line 3)

In [18]:
x=2
y=x + 1
print(f'x={x}, y={y}')
print ('x=%d, y=%d'%(x,y))

x=2, y=3
x=2, y=3

In [16]:
from platform import pyhton python_version
print("Python Version:", python_version())

SyntaxError: invalid syntax (ipython-input-4021074239.py, line 1)

In [21]:
#container
x = ["apple", "banana", "cherry"] #list : chứa các đối tượng khác
x[2]= 'hello'
print(x,x[2])
x = ("apple", "banana", "cherry") #tuple :chứa các đối tượng khác, readonly
#print x[2]= 'hello' = errol
print(x,x[2])
x = range(6) #range : r(6)=[0,5], r(min, max) : [min, max]
print(x, list(x)) #iterlator: hỉ cấp phát khi sử dụng kiểu iterator
x = {"name" : "Tom", "age" : 20} #dict
print(x, x['age'])
x = {"apple", "banana", "cherry"} #set
print(x)
x = frozenset({"apple", "banana", "cherry"})
#frozenset
print(x)

['apple', 'banana', 'hello'] hello
('apple', 'banana', 'cherry') cherry
range(0, 6) [0, 1, 2, 3, 4, 5]
{'name': 'Tom', 'age': 20} 20
{'banana', 'apple', 'cherry'}
frozenset({'banana', 'apple', 'cherry'})

In [22]:
x = True #bool
print(x, type(x))
x = b"Hello" #bytes
print(x, type(x))

x = bytearray(5) #bytearray
print(x, type(x))

x = memoryview(bytes(5)) #memoryview
print(x, type(x))

x = None #NoneType
print(x, type(x))

True <class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x79b513542ec0> <class 'memoryview'>
None <class 'NoneType'>

In [23]:
x = str(3) # x will be '3'
print(x, type(x))

y = int(3.5) # y will be 3
print(y, type(y))

z = float(3) # z will be 3.0
print(z, type(z))
print (list(range(6)))
print(set([1,4,2,1,1,2,3,4]))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>
[0, 1, 2, 3, 4, 5]
{1, 2, 3, 4}

In [24]:
x = 2 # int
y = 3.4 # float
z = 7j #complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

In [31]:
Arithmetic Operators
Operator Name Example
  Addition 7 + 2 = 9
 Subtraction 7 - 2 = 5
* Multiplication 7 * 2 = 14
/ Division 7 / 2 = 3.5
// Floor division 7 // 2 = 3 (Quotient)
% Modulus 7 % 2 = 1 (Remainder)
** Exponentiation 7 ** 2 = 49
***

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [28]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

In [32]:
#boolean: true false
print(3>2)
print(3==2)
print(3<2)

True
False
False

In [34]:
#tính toán BMI
#input
height_cm = 170
weight_kg = 60
#process
height_m = height_cm/100
BMI = (weight_kg/(height_m**2))
print("Your BMI is: " + str(round(BMI,1)))

Your BMI is: 20.8